@import "variables";

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: $mantle;
}

::-webkit-scrollbar-thumb {
    background-color: $base-light;
    border: 2px solid $mantle;
    border-radius: 4px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Inter, sans-serif;
    background: $mantle;
}

#app {
    width: 280px;
    height: 400px;
    overflow: auto;
    background: $mantle;
    color: $white;

    >* {
        margin: 12px;
    }
}

.popup-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
        margin-top: 40px;
        width: 60px;
    }
}

.dashboard-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    h1 {
        font-size: 20px;
        margin: 2px;
    }

    #username {
        color: $white-light;
        font-style: italic;
        font-size: 14px;
    }

    .date {
        .fa-calendar-days {
            font-size: 16px;
            padding-right: 4px;
            color: $yellow;
        }
    
        #date {
            font-size: 18px;
        }
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input {
        padding: 8px;
        border-radius: 5px;
        border: none;
        outline: none;
        background-color: $base;
        caret-color: $white-trans;
        color: $white-trans;

        &:focus {
            background-color: $base-light;
        }

        &:active {
            background-color: $base-light;
        }

        &::placeholder {
            padding-left: 4px;
            color: $white-trans;
        }
    }

    .btn-login-container {
        button {
            border: none;
            border-radius: 5px;
            width: 100%;
            padding: 6px;
            background-color: $yellow;
            color: $mantle;
            transition: transform 0.2s ease-in-out;
            cursor: pointer;

            &:hover {
                background-color: $yellow-light;
                transform: translateY(-3px);
            }
        }
    }
}

#error-message {
    font-size: 14px;
    color: $red;
}

.btn-logout-container {
    button {
        border: none;
        border-radius: 5px;
        width: 100%;
        padding: 6px;
        background-color: $yellow;
        color: $mantle;
        transition: transform 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
            background-color: $yellow-light;
            transform: translateY(-3px);
        }
    }
}

.tasks-container {
    ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;

        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $base;
            color: $white;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 10px;

            input[type="checkbox"]:checked {
                accent-color: $yellow;
            }

            button {
                border: none;
                background-color: $yellow;
                color: $mantle;
                border-radius: 5px;
                cursor: pointer;
            }

            &::selection {
                background-color: $base-lightest;
                color: $yellow;
            }
        }

        .completed {
            text-decoration: line-through;
        }
    }
}